<!DOCTYPE = html>
<html>
  <head>
    <style>
.button {
    background-color: yellow;
    border: none;
    color: black;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Concert One', cursive; position:absolute; top:410px; left:620px;
}

.button:hover {
    background-color: white;
    color: black;
  }
    </style>
    
    <link rel="stylesheet" href="stylesheets/action1.css">
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Nunito" rel="stylesheet">
    <title>title</title>
  </head>
  <body>
    <h1 class="title"> Computer Adventure Games</h1>
   
    <a style="text-decoration:none"href="https://www.miniclip.com/games/genre-13/action/en/#t-n-C" class="button">Let's play!</a>
    
    <img src="https://media1.giphy.com/media/l0HlAfHUu5arJqHMk/giphy.gif">
    <br><a style="text-decoration:none" href="/"id="home">Home</a>
  </body>
</html>
