<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Adventure</title>
    <link rel="stylesheet" href="stylesheets/action2.css">
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Nunito" rel="stylesheet">
  </head>
  <body>
    <h1 class= "adventure"> Adventure Mobile Games </h1>
    
      <li class="name">Guns of boom</li>
      <img src = "https://lh3.googleusercontent.com/-PmWl6wQUYhkNkgS1KTfqessmZLHypsbtT8_ZHEYM1kFGL88_BYgRQ89UOicxmxe9M8E"> 
      <li class="name">Jetpack Joyride</li>
    <img src = "https://images-fe.ssl-images-amazon.com/images/I/A18-ma1iBrL.png">
      <li class="name">Fruit Ninja</li>
    <img src = "http://www.eslash.fr/wp-content/uploads/2017/10/fruit-ninja-free-logo.png">
      <br><a style="text-decoration:none" href="/"id="home">Home</a>
  </body>
</html>
