<!DOCTYPE = html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Nunito+Barcode+128+Text|Questrial" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/arcade2.css">
    <title>Arcade</title>
  </head>
  <body>
    <h1 class="title"> Arcade Mobile Games</h1>
    <ul class="myList">
      <li class="name">Pac Man</li>
      <li><img id="pacman" src = https://d2e111jq13me73.cloudfront.net/sites/default/files/styles/product_image_aspect_switcher_170w/public/product-images/csm-app/pacmaniconnew.png?itok=PeDMs9QW></li>
      <li class="name">Jelly Jump</li>
      <img id="jellyjump"src = "https://is4-ssl.mzstatic.com/image/thumb/Purple49/v4/13/43/fb/1343fbfb-45c5-faf6-b124-bb9b1b5563a8/pr_source.jpg/246x0w.jpg">
      <li class="name">Helix jump</li>
      <li><img id="helixjump" src = https://lh3.googleusercontent.com/MpmyS6-bGnH2vRQBqS2W9IZLfo7P4KU1scgq515s9sufLXuwZGmQp4hlg-e5F8b9wg=s180></li>
      
 <br><a style="text-decoration:none" href="/"id="home">Home</a>

    
  </body>
</html>
