<!DOCTYPE = html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Nunito+Barcode+128+Text|Questrial" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/arcade1.css">
    <title>Arcade</title>
  </head>
  <body>
    <h1 class="title">Computer Arcade Games</h1>
    
<img src="https://lolygames.com/games-file/large/l_20131229125218.jpg">
  <a style="text-decoration:none"href= "http://best.io/" class="button">Let's play!</a>
    <br><a style="text-decoration:none" href="/"id="home">Home</a>
  </body>
</html>
