<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <titlec class = 'title'>Dumb Mobile Games</titlec>
    <link 
    href="https://fonts.googleapis.com/css?family=Concert+One|Nunito+Barcode+128+Text|Questrial" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/dumb2.css">
  </head>
  <body>
   <h1></h1>
   
   <li>
    <a style="text-decoration:none"href=" https://itunes.apple.com/us/app/the-moron-test/id312343159?mt=8">Play The Moron Test!</a>
    </li>
     <img class = "img" src = "https://lh3.googleusercontent.com/bgkP4K5r9qEk11P7Zt_YtWo16vygIS_nTOtP9s5SUAdYMmO-9o0pvM4aEpfUERNffA=s180">
    <li>
    <a style="text-decoration:none"href="https://itunes.apple.com/us/app/helix-jump/id1345968745?mt=8">Play Helix Jump!</a>
     </li>
     
     <img class = 'img' src ="https://lh3.googleusercontent.com/MpmyS6-bGnH2vRQBqS2W9IZLfo7P4KU1scgq515s9sufLXuwZGmQp4hlg-e5F8b9wg=s180">
   <br><a style="text-decoration:none" href="/"id="home">Home</a>
  </body>
</html>
