<!DOCTYPE html>
<link rel="stylesheet" href="stylesheets/Dumb1.css">
<html>
  <head>
    <title>Dumb Computer Games</title>
     <link href="https://fonts.googleapis.com/css?family=Concert+One|Nunito+Barcode+128+Text|Questrial" rel="stylesheet">
     <link rel="stylesheet" href="stylesheets/Dumb1.css">
  </head>
  <body>
    <h1 class="title">Dumb Computer Games</h1>
 <img src="https://media0.giphy.com/media/l2JhpjWPccQhsAMfu/giphy.gif">
    <a style="text-decoration:none"href "https://www.boredbutton.com/" class="button">Let's play!</a>
    
    <br><a style="text-decoration:none" href="/"id="home">Home</a>
  </body>
</html>
