<!DOCTYPE = html>
<html>
  <head>
    <title>Trappy</title>
      <link rel="stylesheet" href="stylesheets/music_trappy.css">
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Nunito+Barcode+128+Text|Questrial" rel="stylesheet">
      </head>
    <body>
<!--     <h1 class="title">Trappy</h1> -->
    <h1 class="title">You're feelin' trappy! We'll get you turnt!</h1>
    
      <p class="suggestions">Our Suggestions</p>
  <br><a style="text-decoration:none" href="https://www.youtube.com/watch?v=bIR5tBW5hlQ"id="button1">Trap Queen - Fetty Wap</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=-8MVRt-B-Hg"id="button2">Gold Digger - Kayne West</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=rCx4NFNuYgI"id="button3">Rolex - Ayo & Teo</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=LBN0HWe8Iyc"id="button4">Better Now - Post Malone</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=-Xvaj27aTX0"id="button5">In My Feelings - Drake</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=N4Ty2NJk0ys"id="button6">iSpy - KYLE(feat. Lil Yatchy)</a>
      
      <br><a style="text-decoration:none" href="/"id="home">Home</a>
  
</p></center>
 
<p id="spotify">Check out this Spotify playlist</p>

<a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX0XUsuxWHRQd"id="link">
<img alt="Rap Caviar Playlist" src="http://memberdata.s3.amazonaws.com/hi/hitsdd/photos/hitsdd_photo_gal__photo_1157618841.png">
</a>



</div>
    </body>
</html>
