<!DOCTYPE = html>
<html>
  <head>
    <title>Happy</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/music_happy.css">
      <link href="https://fonts.googleapis.com/css?family=Concert+One|Nunito+Barcode+128+Text|Questrial" rel="stylesheet">
<iframe width="0" height="" src="http://youtuberepeater.com/watch?v=H0m3Lfkzcw4&name=Happy+Pharrell+Williams+Original+Lyrics+HD" frameborder="0" allowfullscreen></iframe>

  </head>
    <body>

    <h1 class="title">Yay you're feeling happy!</h1>
    
      <p class="suggestions">Our Suggestions</p>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=fFuof92V8uk"id="button1">Happy - Pharrell Williams</a>
  
  <br><a style="text-decoration:none" href="https://www.youtube.com/watch?v=h6kQSxZL_3k"id="button2">That's What I Like - Bruno Mars</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=hV2z4oBNFKs"id="button3">Good Feeling - Flo Rida</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=D5nRhNAxPbc"id="button4">I'm the One - DJ Khaled</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=ikZWUzvj7Uk"id="button5">Fire Burning - Sean Kingston</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=ICjG8t_SnSg"id="button6">Toxic - Britney Spears</a>

<p id="spotify">Check out this Spotify playlist</p>
<a 
href ="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DXdPec7aLTmlC">
<img alt="Spotify Happy Playlist" src="https://i2.wp.com/kiirstenjones.com/wp-content/uploads/2016/07/image9.jpeg?resize=750%2C706&ssl=1"id="link">
</a>
    
  <br><a style="text-decoration:none" href="/"id="home">Home</a>
</div>

    </body>
</html>