<!DOCTYPE = html>
<html>
  <head> 
    <title>Sad</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/music_sad.css">  
   <link href="https://fonts.googleapis.com/css?family=Concert+One|Nunito+Barcode+128+Text|Questrial" rel="stylesheet">  
<iframe width="0" height="0" src="http://youtuberepeater.com/watch?v=qm-QoJcra8U&name=Apologize+Timbaland+Lyrics" frameborder="0" allowfullscreen></iframe>
  </head>
    <body>
<!--       <h1 class="title">Sad</h1> -->
    <h1 class="title">Aw feeling down? It gets better.</h1>
    
      <p class="suggestions">Our Suggestions</p>
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=tWh_AH3VjzQ"id="button1">Apologize - One Republic</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=7j5CfdfxtEY"id="button2">Whatcha Say - Jason Derulo</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=daf67SCo5_s"id="button3">Fireflies - Owl City</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=ox7RsX1Ee34"id="button4">LOVE.FEAT.ZACARI - Kendrick Lamar</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=H3Kzh6RrnMc"id="button5">Hymn for the Weekend - Coldplay</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=rtz_gVeekNE"id="button6">Love the Way You Lie - Rihanna, Eminem</a>
      
  <br><a style="text-decoration:none" href="/"id="home">Home</a>
      
</div></center>

<p id="spotify">Check out this Spotify playlist</p>

<a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX7qK8ma5wgG1">
<img border="0" alt="Sad Songs Playlist" src="https://i.scdn.co/image/659ac7964695940fa8c11c7a8a8b5eb699c5ca16"id="link">
</a>

  </div>

    </body>
</html>
