<!DOCTYPE = html>
<html>
  <head>
    <title>Peaceful</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/music_peaceful.css">
      <link href="https://fonts.googleapis.com/css?family=Concert+One|Nunito+Barcode+128+Text|Questrial" rel="stylesheet">
<iframe width="0" height="0" src="http://youtuberepeater.com/watch?v=IxxstCcJlsc&name=Zedd+Clarity+Official+Video+ft+Foxes" frameborder="0" allowfullscreen></iframe>

  </head>
    <body>
    <h1 class="title">You're feeling Zen. Namaslay!</h1>
    
      <p class="suggestions">Our Suggestions</p>
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=l9Q7GISatW0"id="button1">Clarity - Zed</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=-SWJSL8uhr8"id="button2">Let it go - James Bay</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=Ws0sCcEf-XQ"id="button3">Halo - Beyonce</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=Em7vc8NWUNY"id="button4">Scars To Your Beautiful - Alessia Cara</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=Gwx4iTRLXG8"id="button5">Just Give Me A Reason - P!nk</a>
  
  <br><a style="text-decoration:none"href="https://www.youtube.com/watch?v=-tn0z4Bz1aQ"id="button6">Say You Won't Let Go - James Arthur</a>
  
  
  
</div></center>

<p id="spotify">Check out this Spotify playlist</p>

<a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DWU0ScTcjJBdj">
<img border="0" alt="Spotify Relax & Unwind Playlist" src="http://myheartycorner.com/wp-content/uploads/2017/05/img_0478.jpg"id="link">
</a>
<a style="text-decoration:none" href="/"id="home">Home</a>

  </div>

    </body>
</html>
