<!DOCTYPE html>
<html>
  <head>
    <titlec class = "title" >Computer Puzzle Games</titlec>
    
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Nunito+Barcode+128+Text|Questrial" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/puzzle1.css">
  </head>
  <body><br />
  
   
     <img class = "img" src = 'http://www.clker.com/cliparts/w/j/e/N/0/N/square-jigsaw-puzzle-md.png'>
    
    <a style="text-decoration:none"href="https://www.miniclip.com/games/genre-1/puzzle/en/#t-n-C" class = button>Click here for computer puzzle games!</a>
<a style="text-decoration:none" href="/"id="home">Home</a>
  </body>
</html>


