.title {color: black;  text-align: center; font-family: 'Concert One', cursive; font-size: 70px; text-shadow: 3px 4px  red;}

body {text-align :center; background-color: yellow;}

.button {
  display: inline-block;
  padding: 10px 40px;
  font-size: 24px;
  background-color: yellow;
  text-align: center;
  color: black;
  border: 3px solid #043BCF; font-family: 'Concert One', cursive; position:absolute; top:500px; right:625px
  
}

.button:hover {background-color: red}

.button:active {
  background-color: black;
  box-shadow: 0 5px yellow;
  transform: translateY(4px);
}

#home {
  display: inline-block; padding: 10px 20px; font-size: 20px;           background-color: white; text-align: center; color: lightblue;       border: 2px solid white; font-family: 'Concert One', cursive;       position:absolute; top:550px; left:670px
  }

  #home:hover {background-color: #00344d}

  #home:active {
  background-color: #00344d;
  box-shadow: 0 5px ;
  transform: translateY(4px);
  }
