body {text-align:center; background-color: lightblue}


.title {color: black; font-family: 'Concert One', cursive; font-size: 70px; text-shadow: 3px 4px  blue;  position:absolute; top:10px; right:290px} 

.suggestions {font-family: 'Concert One', cursive; font-size: 30px; color: #00344d; position:absolute; top:170px; right:260px}

#button1 {
  display: inline-block; padding: 10px 40px; font-size: 20px; background-color: #00344d; text-align: center; color: lightblue;       border: 3px solid #00344d; font-family: 'Concert One', cursive; position:absolute; top:280px; left:930px
  }

  #button1:hover {background-color: white}

  #button1:active {
  background-color: #00344d;
  box-shadow: 0 5px ;
  transform: translateY(4px);
  }

#button2 {
  display: inline-block; padding: 10px 40px; font-size: 20px; background-color: #00344d; text-align: center; color: lightblue;       border: 3px solid #00344d; font-family: 'Concert One', cursive; position:absolute; top:340px; left:930px
  }

  #button2:hover {background-color: white}

  #button2:active {
  background-color: #00344d;
  box-shadow: 0 5px ;
  transform: translateY(4px);
  }

#button3 {
  display: inline-block; padding: 10px 40px; font-size: 20px; background-color: #00344d; text-align: center; color: lightblue;       border: 3px solid #00344d; font-family: 'Concert One', cursive; position:absolute; top:400px; left:930px
  }

  #button3:hover {background-color: white}

  #button3:active {
  background-color: #00344d;
  box-shadow: 0 5px ;
  transform: translateY(4px);
  }

#button4 {
  display: inline-block; padding: 10px 40px; font-size: 20px; background-color: #00344d; text-align: center; color: lightblue;       border: 3px solid #00344d; font-family: 'Concert One', cursive; position:absolute; top:460px; left:930px
  }

  #button4:hover {background-color: white}

  #button4:active {
  background-color: #00344d;
  box-shadow: 0 5px ;
  transform: translateY(4px);
  }

#button5 {
  display: inline-block; padding: 10px 40px; font-size: 20px; background-color: #00344d; text-align: center; color: lightblue;       border: 3px solid #00344d; font-family: 'Concert One', cursive; position:absolute; top:520px; left:930px
  }

  #button5:hover {background-color: white}

  #button5:active {
  background-color: #00344d;
  box-shadow: 0 5px ;
  transform: translateY(4px);
  }

#button6 {
  display: inline-block; padding: 10px 40px; font-size: 20px; background-color: #00344d; text-align: center; color: lightblue;       border: 3px solid #00344d; font-family: 'Concert One', cursive; position:absolute; top:580px; left:930px
  }

  #button6:hover {background-color: white}

  #button6:active {
  background-color: #00344d;
  box-shadow: 0 5px ;
  transform: translateY(4px);
  }

#home {
  display: inline-block; padding: 10px 20px; font-size: 20px;  background-color: white; text-align: center; color: lightblue;       border: 2px solid white; font-family: 'Concert One', cursive; position:absolute; top:800px; left:660px
  }

  #home:hover {background-color: #00344d}

  #home:active {
  background-color: #00344d;
  box-shadow: 0 5px ;
  transform: translateY(4px);
  }

#link {position:absolute; left: 202px; top:280px; height:500px; width:}
#spotify {font-family: 'Concert One', cursive; font-size: 30px; color: #00344d; position:absolute; top:170px; left:260px}
